* {
    margin: 0;
}

.center__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.neon__title {
    margin: 0;
    font-family: neon_title;
    font-size: 8rem;
}

.main__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 80px;
    text-align: center;
    gap: 20px;
    margin-top: 50px;
    font-family: neon_options;
    font-size: 2rem;
    column-gap: 70px;
}

.logout {
    position: fixed;
    top: 2%;
    left: 2%;
}
