.map__container {
    background-color: #525053;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 10px;
    width: 468px;
    height: 532px;
    background-color: #525053;
    box-shadow: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.coin__wrapper {
    position: relative;
    height: 100%;
}

.cursor {
    width: 54px;
    height: 54px;
    border: 5px solid white;
    border-radius: 20px;
    position: absolute;
    display: none;
}