.card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-attachment: fixed; */
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    /* display: inline-block;
    margin-right: 10px; */
}

.sort input[type=radio] {
    display: none;
}

.sort label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 60px;
    width: 300px;
    border-radius: 6px;
    user-select: none;
}

.sort input[type=radio]:checked+label {
    background: #ffe0a6;
}

.sort label:hover {
    color: #666;
}

.sort input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}

.record__container {
    padding-top: 20px;
}